.user-wrapper {
    min-width: 300px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px 15px;
    border: 1px solid;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    user-select: auto;
    width: 20vw;
    transition: 0.2s;
}

.user-wrapper * {
    transition: 0.2s;
}

.user-wrapper:hover * {
    color: white;
}

.user-link {
    text-decoration: none;
}

.inline {
    display: inline-block;
}

.details-section {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 175px;
}

.username {
    color: white;
    font-weight: bolder;
    font-size: 1.2em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.full-name {
    color: #CCCCCC;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.follower, .follower .profile-pic:hover {
    border-color: #5cc8fa;
}

.user-wrapper:hover.follower {
    background: #5cc8fa;
}

.following, .following .profile-pic:hover {
    border-color: #3eb500;
}

.user-wrapper:hover.following {
    background: #3eb500;
}

.followingThatAreNotFollowers, .followingThatAreNotFollowers .profile-pic:hover {
    border-color: var(--not-following-color);
}

.user-wrapper:hover.followingThatAreNotFollowers {
    background: var(--not-following-color);
}

.followersThatAreNotFollowing, .followersThatAreNotFollowing .profile-pic:hover {
    border-color: mediumpurple;
}

.user-wrapper:hover.followersThatAreNotFollowing {
    background: mediumpurple;
}

.profile-pic {
    border-radius: 35px;
    border: 5px solid lightgray;
    width: 50px;
}

.user-wrapper:hover .profile-pic {
    border-color: white;
}

.new-user {
    height: fit-content;
    color: var(--new-color);
    border: 2px solid var(--new-color);
    border-radius: 10px;
    padding: 0 5px;
}

.lock {
    position: absolute;
    top: 20px;
    left:10px;
    width: 15px;
    color: #bbbbbb;
}
