.title {
    font-size: 2em;
    font-weight: bolder;
    padding: 30px;
    cursor: pointer;
    transition: 0.5s;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.section:nth-child(1) .title:hover {
    background: #b20000;
}

.section:nth-child(2) .title:hover {
    background: #5cc8fa;
}

.section:nth-child(3) .title:hover {
    background: #3eb500;
}

.section:nth-child(4) .title:hover {
    background: mediumpurple;
}

.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
